@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Mulish;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 100%;
    height: 60px;
    font-size: 32px;
    border: 3px solid black;
    border-radius: 16px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
}

input:focus {
    outline: none;
}

button {
    font-size: 36px;
    padding: 5px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgba(130, 130, 130, 0.05);
    border-color: white;
}

.main-container {
    /* padding: 10px 140px 200px 140px; */
    width: 450px;
    height: 600px;
    color: white;
    background-color: rgb(65, 65, 65);
    border: 4px solid black;
    border-radius: 8px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.2);
}

.title {
    color: black;
    background-color: white;
    border-bottom: 4px solid black;
    text-align: center;
}

.sub-container {
    margin-block: 20px;
    margin-inline: 20px;
}

.screen {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 35px;
}

.madeBy {
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-block: 25px;
}

.grid-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.function {
    color: black;
    background-color: white;
    border-color: black;
}

#equal {
    background-color: rgb(255, 195, 83);  
}

#result {
    text-align: right;
    padding-inline: 10px;
}

@media (max-width: 480px) {
    body {
        height: auto;
    }
    
    button {
        font-size: 30px;
    }

    .main-container {
        width: auto;
        height: auto;
    }
}